
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Courier, monospace;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    height: inherit;
}


.top-container {
    border: 1px solid black;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    border: 1px solid black;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.Logo {
    font-size: 24px;
    font-weight: bold;
}

.items {
    border: 1px solid black;
    display: flex;
    gap: 20px;
    color: #E5E7EB;
}

.hero-1 {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

img {
    width: 400px;
    height: 300px;
}

.title-and-description {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.title {
    border: 1px solid black;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.description {
    border: 1px solid black;
    color: #E5E7EB;
    font-size: 18px;
}

.button button{
    border: 1px solid black;
    background-color: #3882F6;
    padding: 9px;
    width: 100px;
    border-radius: 6px;
    color: white;
}

img {
    border: 1px solid black;
}

.middle-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 64%;
}

.hero-2 {
    border: 1px solid black;
}

.random-information {
    border: 1px solid black;
}

.box-container {
    border: 1px solid black;
}

.box-1 {
    border: 1px solid black;
}

.box-2 {
    border: 1px solid black;
}

.box-3 {
    border: 1px solid black;
}

.box-4 {
    border: 1px solid black;
}

.box {
    border: 1px solid black;
}

.sub-text {
    border: 1px solid black;
}

.quote-container {
    border: 1px solid black;
}

.quote {
    border: 1px solid black;
}

.name {
    border: 1px solid black;
}

.bottom-container { 
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.outer-card-container {
    border: 1px solid black;
}

.card-container {
    border: 1px solid black;
}

.card-title-and-information {
    border: 1px solid black;
}

.title {
    border: 1px solid black;
}

.information {
    border: 1px solid black;
}

.button {
    border: 1px solid black;
}

.footer {
    border: 1px solid black;
}

.footer-text {
    border: 1px solid black;
}